
<footer>
    <div class="container-fluid">
        <div class="foot-social">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="copyright">
            &copy; Stayza Private Limited
        </div>
        <div class="TandC">
            <a href="#">Terms and Conditions</a>
        </div>
    </div>
</footer>